.vsc-initialized{
  margin: 0;
}

body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
  margin: 0;
  font-weight: 500;
  color: black;
}

a{
  text-decoration: none;
}

.container {
  width: 90%;
  max-width: 60rem; 
  margin: 0 auto;
}

.header-navigator{
  display: flex;
  gap: 1rem;
}

.header-navigator .nav-produtos,
.header-navigator .nav-contatos {
  margin: 3rem 0;
  padding: .8rem 1.2rem;
  font-size: 1.4rem;
  text-decoration: none;
  color: black;
  background-color: rgba(0, 0, 0, 0.153);
  border-radius: 5px;
}

.header-navigator .active {
  background-color: rgb(4, 4, 112);
  color: white;
  outline: 1px solid rgb(0, 0, 0);
}

.container-products{
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.content-products{
  display: flex;
  flex: 1;
}

.content-products img{
  height: 28rem;
  border-radius: 10px;
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.276);
}

.item-preco{
display: inline-block;
background-color: rgb(68, 208, 68);
margin: 1rem 0;
padding: .5rem .7rem;
border-radius: 5px;
}

.content-contact{
  display: flex;
  height: 40rem;
  gap: 4rem;
  width: 100%;
  transform: translateX(-300px);
  animation: moveRight .2s ease forwards;
}

@keyframes moveRight {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0);
  }
}

.contact-info{
  font-weight: 600;
  font-size: 1.2rem;
}

.content-contact img{
  border-radius: 10px;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.132)
}





